name: Backend CI/CD

permissions:
  id-token: write
  contents: read

on:
  push:
    branches:
      - 'main' # Production
      - 'dev' # Development
      - 'qa' # QA
    paths:
      - 'server/**'
      - '.github/workflows/Backend-CICD.yml'

jobs:
  deploy-backend:
    name: Deploy Backend
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.ref_name == 'main' && 'prod' || github.ref_name == 'dev' && 'dev' || github.ref_name == 'qa' && 'qa' }}

    env:
      # Repository variables
      AWS_REGION: ${{ vars.AWS_REGION }}

      # Repository secrets
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
      SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
      HOSTED_ZONE_ID: ${{ secrets.HOSTED_ZONE_ID }}
      CERTIFICATE_ARN: ${{ secrets.CERTIFICATE_ARN }}

      # Environment variables
      DOMAIN_NAME: ${{ secrets.DOMAIN_NAME }}

      # Environment secrets
      DATABASE_URL: ${{ secrets.DATABASE_URL }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Set stage
        id: stage
        run: echo "name=${{ github.ref_name == 'main' && 'prod' || github.ref_name == 'dev' && 'dev' || github.ref_name == 'qa' && 'qa' }}" >> $GITHUB_OUTPUT

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/github-actions-role

      - name: Install dependencies
        run: npm ci
        working-directory: server

      - name: Build
        run: npm run build
        working-directory: server

      - name: Deploy to ${{ steps.stage.outputs.name }}
        run: npm run deploy:${{ steps.stage.outputs.name }}
        working-directory: server
